.question-Background {
    background-image: url(../../assets/images/ContactPage/breadcrumb-bg.jpg);
    background-position: center;
    background-repeat: repeat;
}


.container h1 {
    color: #fff;
    text-align: center;
}

details {
    background-color: #fff;
    color: #303030;
    font-size: 18px;
}

summary {
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: height 1s ease;
    border: 1px solid #aaa;
    box-shadow: 2px 4px 2px 2px #888888;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    content: "\002B";
}

details[open] summary {
    border: 1px solid #aaa;
    margin-bottom: .5em;
}

details[open] summary:after {
    content: "\00D7";
}

details[open] div {
    padding: .5em 1em;
}